<ion-header>
  <ion-toolbar>
    <ion-title>infoUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de usuario :</ion-card-title>
      <ion-card-subtitle>mail : </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <img [src]="'https://www.digitalocean.com/_next/static/media/intro-to-cloud.d49bc5f7.jpeg'" alt="">

      <ion-label>
        <p>Nombre usuario :</p>
        <p>Apellido :</p>
      </ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>
