<ion-header>
  <ion-toolbar>
    <ion-title>infoUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <h1>Nombre de usuario</h1>
      <h3>{{firstName}}</h3>
    </ion-card-header>
    <ion-card-content>
      <img [src]="foto" alt="">

      <ion-label>
        <p>Email : {{ email }}</p>
        <p>Apellido : {{lastName}}</p>
        <p>Genero : {{gender}}</p>
      </ion-label>
    </ion-card-content>

  </ion-card>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-button  expand="block" fill="clear" shape="round"
      [routerLink]="['/productos']"
      >
      Ver productos
    </ion-button></ion-col>

  </ion-row>
</ion-grid>

</ion-content>
